@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 200px;
  margin-top: 10px;
  background-image: url(/files/papel\ de\ parede\ pipoca.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

#headerlogo img {
  height: 150px;
  width: 240px;
  border-radius: 5px;
}

.menuprincipal {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
  position: relative;
  right: 175px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz";
  position: relative;
  left: 300px;
  bottom: 100px;
}

ul li :hover {
color: blueviolet;
}

.tituloabout {
  text-align: center;
  font-size: 90px;
  font-family: "Yanone Kaffeesatz";
  font-weight: bold;
  margin-bottom: 25px;
}

.corpotextoabout {
  position: relative;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

h2 {
  margin-left: 50px;
  font-size: 30px;
  text-align: center; 
}

.tituloform {
  font-family: "Yanone Kaffeesatz";
  font-size: 50px;
}

.area {
  position: relative;
  left: 38%;
  top: 30%;
  width: 400px;
  height: 300px;
}

.area .formulario {
  position: absolute;
  display: block;
}

fieldset {
  width: 350px;
  height: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.formulario label {
  position: absolute;
  left: 20px;
  margin-right: 5px;
}

.formulario .camponome {
  position: absolute;
  left: 95px;
  top: 23px;
  width: 225px;
  margin-top: 5px;
}

.formulario .campoemail {
  position: absolute;
  left: 95px;
  margin-top: 5px;
  width: 225px;
  margin-top: 5px;
}

.formulario .mensagem {
  margin-left: 50px;
  margin-top: 10px;
}

.formulario .botaoenviar {
  margin-left: 50px;
}

