* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

#headerlogo img {
  height: 150px;
  width: 240px;
  border-radius: 5px;
}

.menuprincipal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
  position: relative;
  right: 175px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  left: 300px;
  bottom: 100px;
}

ul li :hover {
color: blueviolet;
}

.tituloconteudo {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  margin-left: 50px;
  padding-bottom: 20px;
  font-size: 30px;
  margin-bottom: 10px; 
}

p.films {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.films a {
  text-decoration: none;
  color: purple;
}

.films a:hover {
  color: rgb(188, 33, 188);
}

p.books {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.books a {
  text-decoration: none;
  color: rgb(0, 17, 128);
}

.books a:hover {
  color: rgb(72, 72, 255);
}
