@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    margin-bottom: 200px;
    margin-top: 10px;
    background-image: url(/files/papel\ de\ parede\ pipoca.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
  }

  .planodefundo {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;    
  }

  .imgdefundo {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
.conteudodefundo {
  position: relative;
}

  div {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
  }

  #headerlogo img {
    height: 150px;
    width: 240px;
    border-radius: 5px;
  }
  
  .menuprincipal {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
    right: 175px;
  }

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
    position: relative;
    left: 300px;
    bottom: 100px;
}

ul li :hover {
  color: blueviolet;
}

.titulodestaque {
  font-family: "Yanone Kaffeesatz";
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  left: 380px;
}

.subtitulodestaque {
  font-family: "Yanone Kaffeesatz";
  margin-left: 50px;
  padding-bottom: 20px;
  font-size: 50px;
  margin-bottom: 10px; 
  display: flex;
  position: relative;
  top: 25px;
}

.imagemartigo img {
height: 300px;
width: 300px;
float: left;
margin-left: 50px;
display: flex;
position: relative;
top: 25px;
}

.corpotextodestaque {
  position: relative;
  left: 25px;
  top: 25px;
  height: 300px;
  width: 1000px;
  text-align: justify;
  margin-bottom: 50px;
  font-size: 18px;
}



