@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 200px;
  margin-top: 10px;
  background-image: url(/files/papel\ de\ parede\ pipoca.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

#headerlogo img {
  height: 150px;
  width: 240px;
  border-radius: 5px;
}

.menuprincipal {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
  position: relative;
  right: 175px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz";
  position: relative;
  left: 300px;
  bottom: 100px;
}

ul li :hover {
color: blueviolet;
}

.tituloconteudo {
  text-align: center;
  font-size: 90px;
  font-family: "Yanone Kaffeesatz";
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  margin-left: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  margin-bottom: 10px; 
  font-family: "Yanone Kaffeesatz";
}

p.films {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.films a {
  text-decoration: none;
  color: purple;
}

.films a:hover {
  color: rgb(188, 33, 188);
}

p.books {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.books a {
  text-decoration: none;
  color: rgb(0, 17, 128);
}

.books a:hover {
  color: rgb(72, 72, 255);
}

p.anime {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.anime a {
  text-decoration: none;
  color: rgb(11, 90, 90);
}

.anime a:hover {
  color: rgb(20, 150, 150);
}

p.tvseries {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.tvseries a {
  text-decoration: none;
  color: rgb(140, 9, 9);
}

.tvseries a:hover {
  color: rgb(243, 29, 29);
}

