* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    margin-bottom: 200px;
    margin-top: 10px;
    background-image: url(/files/papel\ de\ parede\ pipoca.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .planodefundo {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;    
  }

  .imgdefundo {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
.conteudodefundo {
  position: relative;
}

  div {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
  }

  #headerlogo img {
    height: 150px;
    width: 240px;
    border-radius: 5px;
  }
 
.menuprincipal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
    right: 175px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    left: 300px;
    bottom: 100px;
}

ul li :hover {
  color: blueviolet;
}

.titulodestaque {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitulodestaque {
  margin-left: 50px;
  padding-bottom: 20px;
  font-size: 30px;
  margin-bottom: 10px; 
}

.imagemartigo img {
height: 300px;
width: 300px;
float: left;
margin-left: 50px;
}

.corpotextodestaque {
  position: relative;
  left: 25px;
  height: 300px;
  width: 1000px;
  text-align: justify;
  margin-bottom: 50px;
  font-size: 18px;
}



