@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-bottom: 200px;
    margin-top: 10px;
    background-image: url(/files/papel\ de\ parede\ website2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
  }

h1 {
    text-align: center;
    margin: 20px;
    font-size: 90px;
    font-family: "Yanone Kaffeesatz";
}
.titulodasinopse {
  margin-left: 150px;
  padding-bottom: 20px;
  font-size: 50px;
  font-family: "Yanone Kaffeesatz";
  margin-bottom: 10px; 
}

.sinopse {
    margin-left: 150px;
    padding-bottom: 200px;
    font-size: 17px;
    margin-bottom: 20px; 
    text-align: justify;
    height: 400px;
    width: 600px;
    float: left;
}

.icon div {
    width: 100%;
    height: 100%;
    overflow: hidden; /* não permite que a imagem extrapole os limites da página ao executar a animação do hover */ 
    border-radius: 8px;
    }

img {
    height: 400px;
    width: 300px; 
    display: flex;
    position: relative;
    left: 50px;
}

.icon img {
    height: 50px;
    width: 50px;
    display: flex;
    position: absolute;
    top: 10px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover img {
    transform: scale(1.1);
}

.assista {
    height: 50px;
    width: 200px;
    position: relative;
    left: 100px;
    top: 25px;
}

.assista a {
    text-decoration: none;
    color: black;
}