* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}
.titulodasinopse {
  margin-left: 150px;
  padding-bottom: 20px;
  font-size: 30px;
  margin-bottom: 10px; 
}

.sinopse {
    margin-left: 150px;
    padding-bottom: 20px;
    font-size: 17px;
    margin-bottom: 10px; 
    text-align: justify;
    height: 400px;
    width: 600px;
    float: left;
}

img {
    height: 400px;
    width: 300px; 
    display: flex;
    position: relative;
    left: 50px;
}

.icon img {
    height: 50px;
    width: 50px;
    display: flex;
    position: absolute;
    top: 10px;
}